@charset "UTF-8";
h1, h2, h3, h4, h5, h6, p, ul, li, label {
  margin: 0px; }

.international_call_rate .i_call_rate_content {
  display: block;
  margin: 0 auto;
  width: 360px; }

.international_call_rate .i_call_rate {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  width: 360px;
  display: block;
  margin: 0 auto;
  padding-left: 10px; }

.international_call_rate .custom_table {
  border-top: hidden;
  border-bottom: 1px solid #e7e7e7;
  width: 335px;
  padding-top: 20px;
  margin: 0px; }

.international_call_rate h5 {
  text-align: center;
  font-size: 15px;
  line-height: 26px;
  padding-top: 20px;
  padding-bottom: 20px; }
  .international_call_rate h5 span {
    color: #ED1C24; }

.international_call_rate td {
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87); }
  .international_call_rate td dt {
    text-align: right;
    font-size: 16px;
    line-height: 26px; }

.international_call_rate .callrate_button {
  padding-top: 20px; }
  .international_call_rate .callrate_button .button_custom {
    border-color: #ED1C24;
    color: #ED1C24;
    padding-top: 15px;
    padding-bottom: 15px; }
    .international_call_rate .callrate_button .button_custom h4 {
      font-size: 18px;
      line-height: 22px; }
  .international_call_rate .callrate_button .button_custom:hover {
    background-color: transparent; }

/*------------------------------- Billing Css-------------------------------*/
.user_billing_content {
  width: 360px;
  display: block;
  margin: 0 auto; }
  .user_billing_content .user_billing {
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    width: 440px;
    display: block;
    margin: 0 auto; }
  .user_billing_content h1 {
    padding-top: 30px;
    text-align: -webkit-center;
    font-size: 30px;
    line-height: 38px; }
  .user_billing_content p {
    padding-top: 30px;
    text-align: -webkit-center;
    font-size: 18px;
    line-height: 30px; }
  .user_billing_content h2 {
    padding-top: 20px;
    text-align: -webkit-center;
    font-size: 30px;
    line-height: 38px;
    color: #ED1C24; }
  .user_billing_content .bill_button {
    padding-top: 30px;
    padding-bottom: 45px; }
    .user_billing_content .bill_button .button_custom {
      background-color: #ED1C24;
      text-align: center;
      color: #ffffff;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 45px;
      padding-right: 45px;
      border: hidden;
      font-size: 18px;
      line-height: 22px; }
  @media (max-width: 500px) {
    .user_billing_content .user_billing h1 {
      padding-top: 30px;
      text-align: -webkit-center;
      font-size: 24px;
      line-height: 38px; }
    .user_billing_content .user_billing p {
      padding-top: 20px;
      text-align: -webkit-center;
      font-size: 16px;
      line-height: 26px; }
    .user_billing_content .user_billing h2 {
      padding-top: 15px;
      text-align: -webkit-center;
      font-size: 24px;
      line-height: 38px;
      color: #ED1C24; }
    .user_billing_content .user_billing .bill_button {
      padding-top: 20px; }
      .user_billing_content .user_billing .bill_button .button_custom {
        font-size: 18px;
        line-height: 22px; } }

/*--------------------------Recharge Section Css--------------------*/
.recharge_section .recharge {
  display: block;
  margin: 0 auto;
  /*width: 440px;*/
  /*border: 1px solid #e7e7e7;*/ }
  .recharge_section .recharge .list-inline-item:not(:last-child) {
    margin-right: 19px !important; }
  .recharge_section .recharge ul {
    display: block;
    margin: 0 auto;
    width: 450px;
    text-align: -webkit-center; }
  .recharge_section .recharge li {
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: 5px; }
  .recharge_section .recharge a {
    display: flex;
    color: #747474;
    text-decoration: none;
    text-align: center;
    height: 47px;
    width: 57px;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .recharge_section .recharge span {
    display: block;
    line-height: 16px;
    font-weight: 700;
    padding-top: 3px;
    font-size: 15px; }
  .recharge_section .recharge .custom_line {
    line-height: 12px;
    font-size: 14px; }

@media (max-width: 400px) {
  .recharge_section .recharge .list-inline-item:not(:last-child) {
    margin-right: 9px !important; } }

/*----------------------Package Details Css---------------------*/
.package_details_content .package_details {
  display: block;
  margin: 0 auto; }
  .package_details_content .package_details h1 {
    font-size: 36px;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.87);
    padding-top: 43px; }
  .package_details_content .package_details p {
    font-size: 18px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.87);
    padding-top: 25px; }
  .package_details_content .package_details .traffic_plan {
    padding-top: 40px; }
    .package_details_content .package_details .traffic_plan .custom_table {
      border-top: hidden;
      border-bottom: 1px solid #e7e7e7;
      margin: 0px; }
      .package_details_content .package_details .traffic_plan .custom_table th {
        font-size: 18px;
        line-height: 28px;
        color: rgba(0, 0, 0, 0.87);
        border-bottom: 1px solid #000000; }
      .package_details_content .package_details .traffic_plan .custom_table td {
        font-size: 18px;
        line-height: 30px;
        color: rgba(0, 0, 0, 0.87); }

@media (max-width: 570px) {
  .package_details_content .package_details h1 {
    font-size: 26px;
    line-height: 36px;
    padding-top: 20px; }
  .package_details_content .package_details p {
    padding-top: 15px; }
  .package_details_content .package_details .traffic_plan {
    padding-top: 20px; }
    .package_details_content .package_details .traffic_plan .custom_table th {
      font-size: 16px;
      line-height: 24px; }
    .package_details_content .package_details .traffic_plan .custom_table td {
      font-size: 16px;
      line-height: 26px; } }

/*-----------------------Contact Details Css--------------------*/
.contact_details_content .contact_details {
  display: block;
  margin: 0 auto; }
  .contact_details_content .contact_details h1 {
    font-size: 36px;
    line-height: 40px;
    padding-top: 33px;
    color: rgba(0, 0, 0, 0.87); }
  .contact_details_content .contact_details .intro_text {
    padding-top: 25px; }
    .contact_details_content .contact_details .intro_text p {
      font-size: 18px;
      line-height: 30px;
      color: rgba(0, 0, 0, 0.87); }
  .contact_details_content .contact_details h3 {
    font-size: 24px;
    line-height: 32px;
    padding-top: 25px; }
  .contact_details_content .contact_details .digital_service_option ul {
    list-style: none;
    padding: 0;
    padding-top: 25px; }
  .contact_details_content .contact_details .digital_service_option .digital_service_list1 {
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
    /*@media(max-width:400px){
				font-size: 14px;
				line-height: 24px;
				padding-top: 15px;
			}*/ }
  .contact_details_content .contact_details .digital_service_option .digital_service_list2 {
    padding-top: 16px;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
    /*@media(max-width:400px){
				font-size: 14px;
				line-height: 24px;
				padding-top: 15px;
			}*/ }
  .contact_details_content .contact_details .digital_service_option .main_span {
    padding-right: 15px;
    /*@media(max-width:400px){
				svg{
					height: 8px;
					width: 8px;
				}
			}*/ }
  .contact_details_content .contact_details .digital_service_option .s_text {
    color: red; }
  .contact_details_content .contact_details .hotline_heading {
    font-size: 24px;
    line-height: 32px;
    padding-top: 21px; }
  .contact_details_content .contact_details .hotline_option ul {
    list-style: none;
    padding: 0;
    padding-top: 20px; }
  .contact_details_content .contact_details .hotline_option .hotline_list1 {
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
    /*@media(max-width:400px){
				font-size: 14px;
				line-height: 24px;
				padding-top: 15px;
			}*/ }
  .contact_details_content .contact_details .hotline_option .hotline_list2 {
    padding-top: 16px;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
    /*@media(max-width:400px){
				font-size: 14px;
				line-height: 24px;
				padding-top: 15px;
			}*/ }
  .contact_details_content .contact_details .hotline_option .main_span {
    padding-right: 15px; }
  .contact_details_content .contact_details .hotline_option .s_text {
    color: red; }
  .contact_details_content .contact_details .traffic_plan {
    padding-top: 26px; }
    .contact_details_content .contact_details .traffic_plan .custom_table {
      border-top: hidden;
      border-bottom: 1px solid #e7e7e7;
      margin: 0px; }
      .contact_details_content .contact_details .traffic_plan .custom_table th {
        font-size: 18px;
        line-height: 28px;
        color: rgba(0, 0, 0, 0.87);
        border-bottom: 1px solid #000000; }
      .contact_details_content .contact_details .traffic_plan .custom_table td {
        font-size: 18px;
        line-height: 30px;
        color: rgba(0, 0, 0, 0.87); }
  .contact_details_content .contact_details .IVR_heading {
    font-size: 24px;
    line-height: 32px;
    padding-top: 30px; }
  .contact_details_content .contact_details .ending_text {
    padding-top: 20px; }
    .contact_details_content .contact_details .ending_text p {
      font-size: 18px;
      line-height: 30px;
      color: rgba(0, 0, 0, 0.87); }

@media (max-width: 570px) {
  .contact_details_content .contact_details {
    padding-left: 15px; }
    .contact_details_content .contact_details .traffic_plan .custom_table {
      width: 400px; } }

/*-------------------------------Star Rating Css-----------------*/
.rating_option .custom_dialog {
  max-width: 330px; }
  .rating_option .custom_dialog .custom_content .custom_header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
    .rating_option .custom_dialog .custom_content .custom_header .custom_title {
      margin: 0 auto;
      font-size: 20px;
      line-height: 28px;
      padding-top: 40px;
      padding-left: 25px; }
    .rating_option .custom_dialog .custom_content .custom_header .close {
      padding-right: 21px;
      padding-top: 21px; }
  .rating_option .custom_dialog .custom_content .custom_body {
    display: block;
    margin: 0 auto;
    padding: 0px 40px; }
    .rating_option .custom_dialog .custom_content .custom_body .rating {
      float: left;
      border-bottom: 1px solid #e7e7e7; }
      .rating_option .custom_dialog .custom_content .custom_body .rating .rate_text {
        text-align: center;
        font-size: 14px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.54);
        padding-bottom: 14px; }
    .rating_option .custom_dialog .custom_content .custom_body .rating:not(:checked) > input {
      position: absolute;
      top: -9999px;
      clip: rect(0, 0, 0, 0); }
    .rating_option .custom_dialog .custom_content .custom_body .rating:not(:checked) > label {
      float: right;
      width: 1em;
      /* padding:0 .1em; */
      overflow: hidden;
      white-space: nowrap;
      cursor: pointer;
      font-size: 210%;
      /* line-height:1.2; */
      color: #ddd; }
    .rating_option .custom_dialog .custom_content .custom_body .rating:not(:checked) > label:before {
      content: '★ '; }
    .rating_option .custom_dialog .custom_content .custom_body .rating > input:checked ~ label {
      color: #F9A13C; }
    .rating_option .custom_dialog .custom_content .custom_body .rating:not(:checked) > label:hover,
    .rating_option .custom_dialog .custom_content .custom_body .rating:not(:checked) > label:hover ~ label {
      color: #F9A13C; }
    .rating_option .custom_dialog .custom_content .custom_body .rating > input:checked + label:hover,
    .rating_option .custom_dialog .custom_content .custom_body .rating > input:checked + label:hover ~ label,
    .rating_option .custom_dialog .custom_content .custom_body .rating > input:checked ~ label:hover,
    .rating_option .custom_dialog .custom_content .custom_body .rating > input:checked ~ label:hover ~ label,
    .rating_option .custom_dialog .custom_content .custom_body .rating > label:hover ~ input:checked ~ label {
      color: #F9A13C; }
    .rating_option .custom_dialog .custom_content .custom_body .rating > label:active {
      position: relative;
      top: 2px;
      left: 2px; }
  .rating_option .custom_dialog .custom_content .custom_footer {
    display: flex;
    align-items: center;
    justify-content: center; }

/*-------------------4G Page CSS Start---------------*/
h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0px; }

.container-fluid {
  padding: 0px; }

.page_content_4g {
  display: block;
  margin: 0 auto; }
  .page_content_4g .check_4g h1 {
    text-align: center; }
  .page_content_4g .check_4g .custom-form-group .custom-input-group {
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 47px;
    padding-right: 49px; }
    .page_content_4g .check_4g .custom-form-group .custom-input-group input {
      background-color: rgba(0, 0, 0, 0.05); }
  .page_content_4g .check_4g .custom-form-group .enable_button {
    padding-top: 15px;
    padding-bottom: 80px; }
    .page_content_4g .check_4g .custom-form-group .enable_button .button_custom {
      background-color: #ED1C24;
      text-align: center;
      color: #ffffff;
      padding-top: 9px;
      padding-bottom: 10px;
      width: 79%;
      border: hidden;
      font-size: 18px;
      line-height: 22px; }

/*------------------offer section-----------*/
.offer-section {
  background-color: #e7e7e7; }
  .offer-section .offer-heading {
    text-align: center; }
    .offer-section .offer-heading h1 {
      font-size: 30px;
      line-height: 38px;
      padding-top: 60px; }
  .offer-section .offer-option .special-recharge {
    background-color: #FFF;
    padding: 30px;
    height: 267px; }
    .offer-section .offer-option .special-recharge__title {
      margin-bottom: 10px; }
      .offer-section .offer-option .special-recharge__title h3 {
        font-size: 24px;
        line-height: 32px;
        color: #000000; }
    .offer-section .offer-option .special-recharge__dayprice {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .offer-section .offer-option .special-recharge__dayprice-left {
      font-size: 16px;
      line-height: 19px;
      color: rgba(0, 0, 0, 0.6); }
    .offer-section .offer-option .special-recharge__dayprice-right {
      font-size: 20px;
      line-height: 30px;
      color: rgba(15, 15, 15, 0.87);
      font-weight: 500; }
    .offer-section .offer-option .special-recharge__button {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .offer-section .offer-option .special-recharge__button a {
        text-align: center;
        width: 100%;
        padding: 8px;
        border-radius: 5px;
        font-size: 16px;
        line-height: 19px;
        display: inline-block;
        vertical-align: middle; }
      .offer-section .offer-option .special-recharge__button .btn__primary {
        margin-right: 10px;
        background-color: #ED1C24;
        color: #FFF;
        border: 1px solid transparent;
        font-weight: 500; }
        .offer-section .offer-option .special-recharge__button .btn__primary:hover {
          text-decoration: none;
          color: #FFF; }
      .offer-section .offer-option .special-recharge__button .btn__secondary {
        border: 1px solid rgba(0, 0, 0, 0.38);
        margin-left: 10px;
        color: rgba(0, 0, 0, 0.54);
        font-weight: 500; }
        .offer-section .offer-option .special-recharge__button .btn__secondary:hover {
          text-decoration: none; }
  .offer-section .s-icon-list {
    padding-top: 25px;
    padding-bottom: 25px; }
    .offer-section .s-icon-list .d-top-text span {
      display: inline-block;
      color: rgba(0, 0, 0, 0.87);
      font-size: 16px; }
      .offer-section .s-icon-list .d-top-text span ul {
        padding-left: 10px;
        padding-right: 10px; }
        .offer-section .s-icon-list .d-top-text span ul .list-inline-item:not(:last-child) {
          margin-right: .5rem;
          padding-right: 10px; }
        .offer-section .s-icon-list .d-top-text span ul svg {
          width: 25px;
          height: 25px;
          overflow: hidden;
          vertical-align: middle; }
  .offer-section .offer-view-button {
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 60px; }
    .offer-section .offer-view-button .custom-offer-view-button {
      width: 202px;
      border-color: #ED1C24;
      color: #ED1C24; }
    .offer-section .offer-view-button .custom-offer-view-button:hover {
      background-color: transparent; }

/*------------------offer section end-----------*/
/*------------------Best 4g section-----------*/
.best-4g-offer-section .dhonnobadmember {
  background-color: #ED1C24;
  padding-top: 42px;
  padding-bottom: 42px; }
  .best-4g-offer-section .dhonnobadmember .h3small {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    line-height: 30px; }
  .best-4g-offer-section .dhonnobadmember span {
    margin-left: 45px;
    display: inline-block;
    position: relative;
    top: -3px; }
  .best-4g-offer-section .dhonnobadmember .button-section-1 {
    background-color: #fff;
    color: #ED1C24;
    font-size: 18px;
    /* line-height: 32px; */
    display: inline-block;
    font-weight: bold;
    padding: 7px 54px;
    border-radius: 4px; }

/*------------------Best 4g section End-----------*/
/*-----------<!--Robi 4g offer Css start-->--------*/
.robi-4g-offer-section {
  background-color: #f8f8f8; }
  .robi-4g-offer-section .robi-4g-offer-section-header {
    text-align: center;
    padding-top: 60px; }
    .robi-4g-offer-section .robi-4g-offer-section-header h1 {
      font-size: 30px;
      line-height: 38px; }
  .robi-4g-offer-section .robi-4g-offer-section-benifits {
    padding-top: 47px; }
    .robi-4g-offer-section .robi-4g-offer-section-benifits .robi-4g-offer-section-item-all {
      text-align: center;
      padding: 20px;
      padding-top: 0;
      padding-bottom: 0; }
      .robi-4g-offer-section .robi-4g-offer-section-benifits .robi-4g-offer-section-item-all img {
        display: block;
        margin: 0 auto;
        width: 61px;
        height: 50px; }
      .robi-4g-offer-section .robi-4g-offer-section-benifits .robi-4g-offer-section-item-all h4 {
        padding-top: 29px;
        color: rgba(0, 0, 0, 0.87);
        font-size: 20px;
        line-height: 28px; }
      .robi-4g-offer-section .robi-4g-offer-section-benifits .robi-4g-offer-section-item-all h6 {
        font-size: 16px;
        line-height: 26px;
        font-weight: 300;
        padding-bottom: 20px;
        padding-top: 15px; }
  @media (max-width: 400px) {
    .robi-4g-offer-section .robi-4g-offer-section-header {
      text-align: center;
      padding-top: 40px; }
      .robi-4g-offer-section .robi-4g-offer-section-header h1 {
        font-size: 24px;
        line-height: 38px; }
    .robi-4g-offer-section .robi-4g-offer-section-benifits {
      padding-top: 27px; }
      .robi-4g-offer-section .robi-4g-offer-section-benifits .robi-4g-offer-section-item-all {
        text-align: center;
        padding: 20px;
        padding-top: 0;
        padding-bottom: 0; }
        .robi-4g-offer-section .robi-4g-offer-section-benifits .robi-4g-offer-section-item-all img {
          display: block;
          margin: 0 auto;
          width: 49px;
          height: 41px; }
        .robi-4g-offer-section .robi-4g-offer-section-benifits .robi-4g-offer-section-item-all h4 {
          padding-top: 22px;
          color: rgba(0, 0, 0, 0.87);
          font-size: 20px;
          line-height: 28px; }
        .robi-4g-offer-section .robi-4g-offer-section-benifits .robi-4g-offer-section-item-all h6 {
          font-size: 16px;
          line-height: 26px;
          font-weight: 300;
          padding-bottom: 26px;
          padding-top: 10px; } }

/*-----------<!--Robi 4g offer Css end-->--------*/
/*-------------------4G Page CSS End---------------*/
/*--------------- SIde Nav Css STart-----------*/
.robi-sidenav-section {
  /*.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}
*/ }
  .robi-sidenav-section .vertical-menu {
    width: 215px;
    height: 325px;
    overflow-y: auto;
    /*h4{
		font-size: 18px;
		line-height: 30px;
	}*/ }
    .robi-sidenav-section .vertical-menu a {
      color: black;
      display: block;
      padding-left: 12px;
      padding-right: 12px;
      text-decoration: none;
      font-size: 18px;
      line-height: 30px; }
    .robi-sidenav-section .vertical-menu a:not(:first-child) {
      padding-top: 20px; }
  .robi-sidenav-section ::-webkit-scrollbar {
    width: 2px; }
  .robi-sidenav-section ::-webkit-scrollbar-thumb {
    background: #d01717; }
  .robi-sidenav-section ::-webkit-scrollbar-track {
    background: #f1f1f1; }
  .robi-sidenav-section .vertical-menu a.active {
    color: red; }

/*--------------- SIde Nav Css End-----------*/
/*----------------Customer Serviece Get in touch Css start--------------*/
.robi-get-touch-section {
  background-color: #f8f8f8; }
  .robi-get-touch-section .robi-get-touch-section-header h1 {
    text-align: center;
    font-size: 30px;
    line-height: 38px;
    color: rgba(0, 0, 0, 0.87);
    padding-top: 80px; }
  .robi-get-touch-section .robi-get-touch-section-options {
    padding-top: 60px;
    padding-bottom: 60px; }
    .robi-get-touch-section .robi-get-touch-section-options .media-body {
      padding-left: 25px; }
      .robi-get-touch-section .robi-get-touch-section-options .media-body h4 {
        font-size: 20px;
        line-height: 32px;
        text-align: left;
        color: rgba(0, 0, 0, 0.87);
        padding-bottom: 5px; }
      .robi-get-touch-section .robi-get-touch-section-options .media-body p {
        font-size: 16px;
        line-height: 26px;
        text-align: left;
        color: rgba(0, 0, 0, 0.87); }
  @media (max-width: 420px) {
    .robi-get-touch-section .robi-get-touch-section-header h1 {
      font-size: 24px;
      line-height: 38px;
      padding-top: 30px; }
    .robi-get-touch-section .robi-get-touch-section-options {
      padding-top: 10px;
      padding-bottom: 30px;
      padding-left: 45px; }
      .robi-get-touch-section .robi-get-touch-section-options .robi-get-touch-section-item-all-s {
        border-bottom: 1px solid rgba(0, 0, 0, 0.08); }
      .robi-get-touch-section .robi-get-touch-section-options .media {
        padding-top: 20px; }
        .robi-get-touch-section .robi-get-touch-section-options .media img {
          width: 42px;
          height: 42px; }
      .robi-get-touch-section .robi-get-touch-section-options .media-body {
        padding-left: 25px;
        padding-bottom: 20px; }
        .robi-get-touch-section .robi-get-touch-section-options .media-body h4 {
          font-size: 18px;
          line-height: 28px;
          text-align: left;
          color: rgba(0, 0, 0, 0.87);
          padding-bottom: 10px; }
        .robi-get-touch-section .robi-get-touch-section-options .media-body p {
          font-size: 14px;
          line-height: 24px;
          text-align: left;
          color: rgba(0, 0, 0, 0.87); } }

/*----------------Customer Serviece Get in touch Css start--------------*/
/*-----------------Location Selector Css Start----------------------*/
.location-option-section .custom_dialog {
  width: 365px; }
  .location-option-section .custom_dialog .custom_content .custom_header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
    .location-option-section .custom_dialog .custom_content .custom_header .custom_title {
      font-size: 18px;
      line-height: 28px;
      padding-top: 40px;
      padding-left: 25px; }
    .location-option-section .custom_dialog .custom_content .custom_header .close {
      padding-right: 21px;
      padding-top: 21px; }
  .location-option-section .custom_dialog .custom_content .custom_body .location-option-locator {
    padding-top: 21px; }
    .location-option-section .custom_dialog .custom_content .custom_body .location-option-locator .custom-view {
      padding-left: 40px; }
    .location-option-section .custom_dialog .custom_content .custom_body .location-option-locator .custom-description {
      padding-left: 12px; }
      .location-option-section .custom_dialog .custom_content .custom_body .location-option-locator .custom-description p {
        color: rgba(1, 1, 1, 0.54);
        font-size: 14px;
        line-height: 24px;
        text-align: left; }
  .location-option-section .custom_dialog .custom_content .custom_body .location-option-phone {
    padding-top: 20px; }
    .location-option-section .custom_dialog .custom_content .custom_body .location-option-phone .custom-view {
      padding-left: 40px; }
    .location-option-section .custom_dialog .custom_content .custom_body .location-option-phone .custom-description {
      padding-left: 12px; }
      .location-option-section .custom_dialog .custom_content .custom_body .location-option-phone .custom-description p {
        color: rgba(1, 1, 1, 0.54);
        font-size: 14px;
        line-height: 24px;
        text-align: left; }
  .location-option-section .custom_dialog .custom_content .custom_body .location-option-time {
    padding-top: 20px; }
    .location-option-section .custom_dialog .custom_content .custom_body .location-option-time .custom-view {
      padding-left: 40px; }
    .location-option-section .custom_dialog .custom_content .custom_body .location-option-time .custom-description {
      padding-left: 12px; }
      .location-option-section .custom_dialog .custom_content .custom_body .location-option-time .custom-description p {
        color: rgba(1, 1, 1, 0.54);
        font-size: 14px;
        line-height: 24px;
        text-align: left; }
  .location-option-section .custom_dialog .custom_content .custom_footer h5 {
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    color: #E20001;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 25px; }

@media (max-width: 575px) {
  .location-option-section .custom_dialog {
    width: auto; } }

/*-----------------Location Selector Css End----------------------*/
/*------------------Store Location Css Start-----------------*/
.store-location-section .store-location-section-list {
  background-color: rgba(0, 0, 0, 0.08); }
  .store-location-section .store-location-section-list h4 {
    font-size: 18px;
    line-height: 28px;
    padding-left: 18px;
    padding-top: 30px; }
  .store-location-section .store-location-section-list .vertical-menu {
    width: 355px;
    height: 430px;
    overflow-y: auto; }
    .store-location-section .store-location-section-list .vertical-menu ul a {
      text-decoration: none;
      margin-right: 10px; }
    .store-location-section .store-location-section-list .vertical-menu .custom-list-group-item {
      margin-top: 10px; }
    .store-location-section .store-location-section-list .vertical-menu .store-locatore-option {
      padding-top: 2px; }
      .store-location-section .store-location-section-list .vertical-menu .store-locatore-option h5 {
        font-size: 14px;
        line-height: 18px;
        color: rgba(0, 0, 0, 0.87); }
      .store-location-section .store-location-section-list .vertical-menu .store-locatore-option .store-locatore-option-details {
        padding-top: 8px;
        padding-bottom: 12px; }
        .store-location-section .store-location-section-list .vertical-menu .store-locatore-option .store-locatore-option-details .custom-view {
          padding-left: 12px; }
        .store-location-section .store-location-section-list .vertical-menu .store-locatore-option .store-locatore-option-details .custom-description {
          padding-left: 12px; }
          .store-location-section .store-location-section-list .vertical-menu .store-locatore-option .store-locatore-option-details .custom-description p {
            color: rgba(1, 1, 1, 0.54);
            font-size: 12px;
            line-height: 18px;
            text-align: left;
            margin-right: 12px;
            padding-top: 2px; }

.store-location-section ::-webkit-scrollbar {
  width: 5px; }

.store-location-section ::-webkit-scrollbar-thumb {
  background: #d1d1d1;
  border-radius: 20px; }

.store-location-section ::-webkit-scrollbar-track {
  background: #E8E8E8; }

@media (max-width: 600px) {
  .store-location-section .store-location-section-list {
    background-color: transparent; } }

/*------------------Store Location Css End-----------------*/
/*----------------New Prepaid Page Order Robi sim today Css Start------------------------*/
.order-robi-sim-section {
  background-color: #F8F8F8; }
  .order-robi-sim-section .order-robi-sim-header {
    margin: 0 auto; }
    .order-robi-sim-section .order-robi-sim-header h1 {
      font-size: 24px;
      line-height: 32px;
      color: rgba(0, 0, 0, 0.87);
      text-align: center;
      padding-top: 60px;
      padding-bottom: 30px; }

/*----------------New Prepaid Page Order Robi sim today Css End------------------------*/
/*-----------------Chat Box Css Start----------------------*/
.chat-option-section .chat-custom-dialog {
  width: 320px; }
  .chat-option-section .chat-custom-dialog .chat-custom-content nav {
    padding: 0px; }
  .chat-option-section .chat-custom-dialog .chat-custom-content ul {
    text-align: center; }
    .chat-option-section .chat-custom-dialog .chat-custom-content ul .custom-list-active {
      /*border: 1px solid #F9F9FA;*/
      font-size: 14px; }
      .chat-option-section .chat-custom-dialog .chat-custom-content ul .custom-list-active a {
        text-decoration: none;
        color: #ED1C24;
        font-weight: 650;
        padding-top: 25px;
        padding-bottom: 20px;
        padding-left: 50px;
        padding-right: 50px;
        display: block; }
    .chat-option-section .chat-custom-dialog .chat-custom-content ul .custom-list {
      /*border: 1px solid #F9F9FA;*/
      background-color: #F9F9FA;
      font-size: 14px; }
      .chat-option-section .chat-custom-dialog .chat-custom-content ul .custom-list a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.54);
        font-weight: 650;
        padding-top: 25px;
        padding-bottom: 20px;
        padding-left: 50px;
        padding-right: 35px;
        display: block; }
  .chat-option-section .chat-custom-dialog .chat-custom-content .custom_header {
    align-items: flex-start;
    justify-content: space-between;
    text-align: center; }
    .chat-option-section .chat-custom-dialog .chat-custom-content .custom_header .custom_title {
      font-size: 16px;
      line-height: 26px;
      padding-top: 30px;
      padding-bottom: 10px; }
    .chat-option-section .chat-custom-dialog .chat-custom-content .custom_header p {
      color: rgba(0, 0, 0, 0.54); }

@media (max-width: 575px) {
  .chat-option-section .chat-custom-dialog ul {
    flex-direction: row; } }

/*-----------------Chat Box Css End----------------------*/
/*-------------Robi Search Result Section Css Start------------*/
.Robi-Search-section .Robi-Search-section-relusts {
  /* Bootstrap 4 text input with search icon */
  /*img{
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 29px;
}*/ }
  .Robi-Search-section .Robi-Search-section-relusts .main {
    padding-top: 30px;
    /* padding-bottom: 85px;*/
    padding-left: 0px;
    padding-right: 0px; }
    .Robi-Search-section .Robi-Search-section-relusts .main .search-result-text {
      padding-top: 40px;
      padding-bottom: 17px; }
      .Robi-Search-section .Robi-Search-section-relusts .main .search-result-text p {
        font-size: 18px;
        line-height: 30px; }
        .Robi-Search-section .Robi-Search-section-relusts .main .search-result-text p .search-text {
          color: #ED1C24; }
  .Robi-Search-section .Robi-Search-section-relusts .custom_form_control {
    height: 45px; }
  .Robi-Search-section .Robi-Search-section-relusts .has-search input {
    border: hidden;
    border-radius: 5px; }
  .Robi-Search-section .Robi-Search-section-relusts .has-search .form-control {
    padding-left: 2.375rem;
    background-color: rgba(0, 0, 0, 0.05); }
  .Robi-Search-section .Robi-Search-section-relusts .has-search .form-control-feedback {
    position: absolute;
    display: block;
    line-height: 40px;
    pointer-events: none;
    padding-left: 7px; }
  .Robi-Search-section .Robi-Search-section-relusts .icon2 {
    height: 13px;
    width: 13px;
    color: #000000;
    padding-left: 3px;
    margin-left: 520px; }
  .Robi-Search-section .Robi-Search-section-relusts .icon1 {
    height: 20px;
    width: 20px;
    color: #000000;
    padding-left: 3px; }
  .Robi-Search-section .Robi-Search-section-relusts .media-body .top_header {
    font-size: 14px;
    line-height: 16px;
    opacity: 60%;
    padding-top: 30px;
    color: rgba(0, 0, 0, 0.54); }
  .Robi-Search-section .Robi-Search-section-relusts .main_header {
    font-size: 24px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.87);
    padding-top: 15px; }
    .Robi-Search-section .Robi-Search-section-relusts .main_header a {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.87); }
  .Robi-Search-section .Robi-Search-section-relusts .price_tag {
    padding-top: 15px;
    font-size: 18px;
    line-height: 30px; }
    .Robi-Search-section .Robi-Search-section-relusts .price_tag strike {
      font-size: 16px;
      line-height: 24px; }
  .Robi-Search-section .Robi-Search-section-relusts .media-top {
    border-top: 1px solid #E5E5E5; }
  .Robi-Search-section .Robi-Search-section-relusts .custom_s8_img {
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 29px; }
  .Robi-Search-section .Robi-Search-section-relusts .custom_note_img {
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 29px; }
  .Robi-Search-section .Robi-Search-section-relusts .custom_internet_img {
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 29px; }
  .Robi-Search-section .Robi-Search-section-relusts .custom_talktime_img {
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 29px; }
  .Robi-Search-section .Robi-Search-section-relusts h6 {
    padding-top: 12px;
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 24px; }
  .Robi-Search-section .Robi-Search-section-relusts .text_validity {
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.54);
    padding-top: 13px;
    padding-bottom: 27px; }
  .Robi-Search-section .Robi-Search-section-relusts .main_header_text {
    font-size: 24px;
    line-height: 32px;
    padding-top: 30px; }
    .Robi-Search-section .Robi-Search-section-relusts .main_header_text a {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.87); }
  .Robi-Search-section .Robi-Search-section-relusts .text_description {
    font-size: 16px;
    line-height: 26px;
    padding-top: 15px;
    padding-bottom: 30px;
    color: rgba(0, 0, 0, 0.6); }
  .Robi-Search-section .Robi-Search-section-relusts .bottom {
    padding-bottom: 40px; }
  .Robi-Search-section .Robi-Search-section-relusts .bottom_end_button {
    margin-top: 40px; }
  .Robi-Search-section .Robi-Search-section-relusts .btn__secondary {
    font-size: 18px;
    line-height: 21px;
    border: 1px solid red;
    border-radius: 5px;
    color: red;
    font-weight: 500;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px; }
    .Robi-Search-section .Robi-Search-section-relusts .btn__secondary:hover {
      text-decoration: none; }
  .Robi-Search-section .Robi-Search-section-relusts .special-recharge__button {
    padding-bottom: 40px;
    text-align: center; }
  .Robi-Search-section .Robi-Search-section-relusts .media {
    border-bottom: 1px solid #E5E5E5; }
  @media (max-width: 450px) {
    .Robi-Search-section .Robi-Search-section-relusts .media-body .top_header {
      padding-top: 20px; }
    .Robi-Search-section .Robi-Search-section-relusts .main_header {
      font-size: 18px;
      line-height: 28px;
      padding-top: 10px; }
    .Robi-Search-section .Robi-Search-section-relusts h6 {
      padding-top: 10px;
      padding-bottom: 20px; }
    .Robi-Search-section .Robi-Search-section-relusts .text_validity {
      font-size: 14px;
      line-height: 16px;
      padding-top: 10px;
      padding-bottom: 20px; }
    .Robi-Search-section .Robi-Search-section-relusts .main_header_text {
      font-size: 18px;
      line-height: 28px;
      padding-top: 20px; }
    .Robi-Search-section .Robi-Search-section-relusts .text_description {
      font-size: 16px;
      line-height: 26px;
      padding-top: 10px;
      padding-bottom: 20px; }
    .Robi-Search-section .Robi-Search-section-relusts .custom_s8_img {
      padding-top: 20px;
      padding-right: 10px;
      padding-bottom: 93px;
      width: 80px; }
    .Robi-Search-section .Robi-Search-section-relusts .custom_note_img {
      padding-top: 20px;
      padding-right: 10px;
      padding-bottom: 60px;
      width: 80px; }
    .Robi-Search-section .Robi-Search-section-relusts .custom_internet_img {
      padding-right: 17px;
      padding-top: 20px;
      padding-bottom: 58px;
      width: 100px; }
    .Robi-Search-section .Robi-Search-section-relusts .custom_talktime_img {
      padding-right: 17px;
      padding-top: 20px;
      padding-bottom: 58px;
      width: 100px; }
    .Robi-Search-section .Robi-Search-section-relusts .special-recharge__button {
      padding-bottom: 41px; }
    .Robi-Search-section .Robi-Search-section-relusts .price_tag {
      padding-top: 10px;
      padding-bottom: 20px; } }

/*-------------Robi Search Result Section Css End------------*/
/*------------Search Result Fail Css start-----------*/
.Robi-Search-section-fail .Robi-Search-section-relusts-fail {
  /* Bootstrap 4 text input with search icon */
  /*.custom_gift_img{
    padding-right: 16px;
  padding-top: 20px;
  padding-bottom: 29px;
}*/
  /*.custom_internet_img{
 padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 29px; 
}*/ }
  .Robi-Search-section-fail .Robi-Search-section-relusts-fail .main {
    padding-top: 30px;
    /* padding-bottom: 85px;*/
    padding-left: 0px;
    padding-right: 0px; }
    .Robi-Search-section-fail .Robi-Search-section-relusts-fail .main .search-result-text {
      padding-top: 40px;
      padding-bottom: 17px; }
      .Robi-Search-section-fail .Robi-Search-section-relusts-fail .main .search-result-text p {
        font-size: 18px;
        line-height: 30px; }
        .Robi-Search-section-fail .Robi-Search-section-relusts-fail .main .search-result-text p .search-text {
          color: #ED1C24; }
  .Robi-Search-section-fail .Robi-Search-section-relusts-fail .search-main-header h4 {
    font-size: 20px;
    line-height: 28px;
    padding-top: 40px; }
  .Robi-Search-section-fail .Robi-Search-section-relusts-fail .custom_form_control {
    height: 45px; }
  .Robi-Search-section-fail .Robi-Search-section-relusts-fail .has-search input {
    border: hidden;
    border-radius: 5px; }
  .Robi-Search-section-fail .Robi-Search-section-relusts-fail .has-search .form-control {
    padding-left: 2.375rem;
    background-color: rgba(0, 0, 0, 0.05); }
  .Robi-Search-section-fail .Robi-Search-section-relusts-fail .has-search .form-control-feedback {
    position: absolute;
    display: block;
    line-height: 40px;
    pointer-events: none;
    padding-left: 7px; }
  .Robi-Search-section-fail .Robi-Search-section-relusts-fail .icon2 {
    height: 13px;
    width: 13px;
    color: #000000;
    padding-left: 3px;
    margin-left: 520px; }
  .Robi-Search-section-fail .Robi-Search-section-relusts-fail .icon1 {
    height: 20px;
    width: 20px;
    color: #000000;
    padding-left: 3px; }
  .Robi-Search-section-fail .Robi-Search-section-relusts-fail .media-body {
    /*.gift_description{
    font-size: 18px;
    line-height: 30px;
    opacity: 60%;
    padding-top: 20px;
    color: rgba(0, 0, 0, 0.87);

  }*/ }
    .Robi-Search-section-fail .Robi-Search-section-relusts-fail .media-body .suggested_description {
      font-size: 18px;
      line-height: 30px;
      opacity: 60%;
      color: rgba(0, 0, 0, 0.87);
      padding-left: 15px; }
  .Robi-Search-section-fail .Robi-Search-section-relusts-fail .media-suggestion {
    padding-top: 20px; }

/*------------Search Result Fail Css fail-----------*/
/*------------My plan Css Start-------------*/
.myplan-section .myplan-saving {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding-bottom: 15px; }
  .myplan-section .myplan-saving .text-start {
    font-size: 16px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.6); }
    .myplan-section .myplan-saving .text-start span {
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      color: #ED1C24;
      padding-right: 10px; }
  .myplan-section .myplan-saving h2 {
    font-size: 30px;
    line-height: 38px;
    padding-top: 10px;
    padding-bottom: 15px; }
  .myplan-section .myplan-saving p {
    font-size: 14px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.87); }

.myplan-section .mayplan-mins {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08); }
  .myplan-section .mayplan-mins .list-item-one {
    display: inline-block;
    color: #ED1C24;
    padding-left: 16px;
    padding-top: 15px; }
    .myplan-section .mayplan-mins .list-item-one span {
      color: #000000;
      font-size: 16px;
      line-height: 19px; }
    .myplan-section .mayplan-mins .list-item-one li {
      padding-bottom: 15px;
      float: left;
      width: 50%; }

.myplan-section .myplan-choice h4 {
  font-size: 20px;
  line-height: 28px;
  padding-top: 30px; }

/*------------My plan Css End-------------*/
/*---------- Robi My Offer Scss Start------*/
.robi-myoffer-section .custom-fluid {
  height: calc(100% - 121px);
  padding-right: 15px;
  padding-left: 15px; }
  .robi-myoffer-section .custom-fluid .hide-desktop {
    display: none; }
  .robi-myoffer-section .custom-fluid .image-wrap {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-color: #f9f9f9; }
  .robi-myoffer-section .custom-fluid .flex-group-section {
    justify-content: start;
    padding-left: 60px;
    height: 83vh;
    display: flex;
    align-items: center; }
    .robi-myoffer-section .custom-fluid .flex-group-section .flex-body {
      width: 450px;
      display: block;
      border: 1px solid rgba(0, 0, 0, 0.08);
      box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.04);
      padding: 40px;
      padding-top: 30px;
      border-radius: 5px; }
      .robi-myoffer-section .custom-fluid .flex-group-section .flex-body h2 {
        text-align: left;
        margin: 0;
        line-height: 38px;
        color: #000;
        margin-bottom: 20px; }
      .robi-myoffer-section .custom-fluid .flex-group-section .flex-body p {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.87);
        margin-top: 0;
        margin-bottom: 1rem; }
      .robi-myoffer-section .custom-fluid .flex-group-section .flex-body .input-group {
        margin-bottom: 15px; }
        .robi-myoffer-section .custom-fluid .flex-group-section .flex-body .input-group .input-group-prepend {
          margin-right: -1px; }
      .robi-myoffer-section .custom-fluid .flex-group-section .flex-body .btn-custom {
        background-color: #ed1c24;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        font-weight: 700;
        border-radius: 5px;
        display: block;
        width: 100%;
        text-transform: capitalize;
        outline: none;
        border: none;
        padding: 12px;
        color: #fff; }

@media (max-width: 420px) {
  .robi-myoffer-section .custom-fluid .hide-mobile {
    display: none; }
  .robi-myoffer-section .custom-fluid .hide-desktop {
    display: block; }
  .robi-myoffer-section .custom-fluid .image-wrap {
    height: 280px;
    background-position: center 20%; }
  .robi-myoffer-section .custom-fluid .flex-group-section {
    padding-bottom: 50px;
    height: auto;
    padding-left: 0;
    display: flex;
    justify-content: center; }
    .robi-myoffer-section .custom-fluid .flex-group-section .flex-body {
      width: 90%;
      border: none;
      box-shadow: none;
      padding: 0px; }
      .robi-myoffer-section .custom-fluid .flex-group-section .flex-body h2 {
        text-align: center;
        padding-bottom: 10px;
        font-size: 20px;
        padding-top: 20px;
        margin-bottom: 0; }
      .robi-myoffer-section .custom-fluid .flex-group-section .flex-body p {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.87);
        text-align: center; } }

/*---------- Robi My Offer Scss End------*/
/*-----------Ghachang Offer css start-------*/
.ghachang-section .top-log {
  display: block;
  margin: 0 auto; }

.ghachang-section h1 {
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  padding-top: 30px; }

.ghachang-section .ghachang-text {
  text-align: center;
  font-size: 20px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.87);
  padding-top: 20px; }
  .ghachang-section .ghachang-text span {
    font-size: 18px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.54);
    padding-right: 10px; }
  .ghachang-section .ghachang-text .pen-edit {
    margin-left: 13px; }

@media (max-width: 600px) {
  .ghachang-section h1 {
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
    padding-top: 30px; }
  .ghachang-section .ghachang-text {
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.87);
    padding-top: 20px; }
    .ghachang-section .ghachang-text span {
      font-size: 14px;
      line-height: 24px;
      color: rgba(0, 0, 0, 0.54);
      padding-right: 10px; }
    .ghachang-section .ghachang-text .pen-edit {
      margin-left: 12px;
      height: 17px;
      width: 17px; } }

/*-----------Ghachang Offer css End-------*/
