h1,h2,h3,h4,h5,h6,p,ul,li,label{
	margin: 0px;
}



.international_call_rate{
		.i_call_rate_content{
			display: block;
			margin: 0 auto;
			width: 360px;
		}

		.i_call_rate{
			border: 1px solid rgba(0, 0, 0, 0.08);
			border-radius: 5px;
			width: 360px;
			display: block;
			margin: 0 auto;
			padding-left: 10px;

		}

		.custom_table{
			border-top: hidden;
    		border-bottom: 1px solid #e7e7e7;
    		width: 335px;
    		padding-top: 20px;
    		margin: 0px;
		}
		
		h5{
			text-align: center;
			font-size: 15px;
			line-height: 26px;
			padding-top: 20px;
			padding-bottom: 20px;
			span{
			color: #ED1C24;
		}

		}

		td{
			font-size: 16px;
			line-height: 26px;
			text-align: left;
			color: rgba(0, 0, 0, 0.87);
			dt{
				text-align: right;
				font-size: 16px;
				line-height: 26px;
			}
		}

		.callrate_button{

			padding-top: 20px;

			.button_custom{
			border-color: #ED1C24;
			color: #ED1C24;
			padding-top: 15px;
    		padding-bottom: 15px;

    		h4{
    			font-size: 18px;
				line-height: 22px;
    		}
		}

		.button_custom:hover { 
    		background-color: transparent;
		}

		}

	

		
	}







/*------------------------------- Billing Css-------------------------------*/

.user_billing_content{
	width: 360px;
	display: block;
	margin: 0 auto;
	.user_billing{
		border: 1px solid rgba(0, 0, 0, 0.08);
		border-radius: 5px;
		width: 440px;
		display: block;
		margin: 0 auto;
	}


	

	h1{
		padding-top: 30px;
		text-align: -webkit-center;
		font-size: 30px;
		line-height: 38px;
	}

	p{
		padding-top: 30px;
		text-align: -webkit-center;
		font-size: 18px;
		line-height: 30px;
	}

	h2{
		padding-top: 20px;
		text-align: -webkit-center;
		font-size: 30px;
		line-height: 38px;
		color: #ED1C24;
	}


	.bill_button{
		padding-top: 30px;
		padding-bottom: 45px;
		.button_custom{
			background-color: #ED1C24;
			text-align: center;
			color: #ffffff;
			padding-top: 12px;
    		padding-bottom: 12px;
			padding-left:45px; 
			padding-right:45px;
			border: hidden;
			font-size: 18px;
			line-height: 22px;
		}
	}




 @media(max-width:500px){
 	.user_billing{

        h1{
		padding-top: 30px;
		text-align: -webkit-center;
		font-size: 24px;
		line-height: 38px;
	}


	p{
		padding-top: 20px;
		text-align: -webkit-center;
		font-size: 16px;
		line-height: 26px;
	}

	h2{
		padding-top: 15px;
		text-align: -webkit-center;
		font-size: 24px;
		line-height: 38px;
		color: #ED1C24;
	}


	.bill_button{
		padding-top: 20px;
		.button_custom{
			font-size: 18px;
			line-height: 22px;
		}
	}
    
    }
    }

}


/*--------------------------Recharge Section Css--------------------*/
.recharge_section{
.recharge{
	display: block;
	margin: 0 auto;
	/*width: 440px;*/
	/*border: 1px solid #e7e7e7;*/


	.list-inline-item:not(:last-child) {
    margin-right: 19px!important;
	}


	ul{
		display: block;
		margin: 0 auto;
		width: 450px;
		text-align: -webkit-center;
	}


	li{
		border: 1px solid rgba(0, 0, 0, 0.24);
		border-radius: 5px;
		
	}

	a{
		    display: flex;
    		color: #747474;
    		text-decoration: none;
    		text-align: center;
    		height: 47px;
    		width: 57px;
    		flex-direction: column;
    		justify-content: center;
    		align-items: center;

		
	}

	span{
		display: block;
		line-height: 16px;
		font-weight: 700;
		padding-top:3px;
		font-size: 15px;

	}


	.custom_line{
			line-height: 12px;
			font-size: 14px;
		}

}
		 @media(max-width:400px){
		 	.recharge{
			.list-inline-item:not(:last-child) {
    			margin-right: 9px!important;
			}
			}		 
		}

}




/*----------------------Package Details Css---------------------*/

.package_details_content{
	.package_details{
		display: block;
		margin: 0 auto;
		h1{
			font-size: 36px;
			line-height: 40px;
			color: rgba(0, 0, 0, 0.87);
			padding-top: 43px;
		}

		p{
			font-size: 18px;
			line-height: 30px;
			color: rgba(0, 0, 0, 0.87);
			padding-top: 25px;
		}

		
		.traffic_plan{
			padding-top: 40px;
			.custom_table{
			border-top: hidden;
    		border-bottom: 1px solid #e7e7e7;
    		margin: 0px;

    		th{
    			font-size: 18px;
    			line-height: 28px;
    			color: rgba(0, 0, 0, 0.87);
    			border-bottom: 1px solid #000000;
    		}

    		td{
    			font-size: 18px;
    			line-height: 30px;
    			color: rgba(0, 0, 0, 0.87);
    		}
		}

		}

	}

	 @media(max-width:570px){
			.package_details{
				h1{
					font-size: 26px;
					line-height: 36px;
					padding-top: 20px;
				}

				p{
					padding-top: 15px;
				}

				.traffic_plan{
					padding-top: 20px;
					.custom_table{

    					th{
    						font-size: 16px;
    						line-height: 24px;
    					}

    					td{
    						font-size: 16px;
    						line-height: 26px;
    					}
					}

				}


			}
	 }


	 
}



/*-----------------------Contact Details Css--------------------*/
.contact_details_content{
	.contact_details{
		display: block;
		margin: 0 auto;

		h1{
			font-size: 36px;
			line-height: 40px;
			padding-top: 33px;
			color: rgba(0, 0, 0, 0.87);
		}

		.intro_text{
			padding-top: 25px;
			p{
				font-size: 18px;
				line-height: 30px;
				color: rgba(0, 0, 0, 0.87);
			}
		}

		h3{
			font-size: 24px;
			line-height: 32px;
			padding-top: 25px;
		}

		.digital_service_option{

			ul {
  				list-style: none;
  				padding: 0;
  				padding-top: 25px;
			}

			.digital_service_list1{
				font-size: 18px;
				line-height: 30px;
				text-align: left;
				color: rgba(0, 0, 0, 0.87);

			/*@media(max-width:400px){
				font-size: 14px;
				line-height: 24px;
				padding-top: 15px;
			}*/
			}

			.digital_service_list2{
				padding-top: 16px;
				font-size: 18px;
				line-height: 30px;
				text-align: left;
				color: rgba(0, 0, 0, 0.87);


			/*@media(max-width:400px){
				font-size: 14px;
				line-height: 24px;
				padding-top: 15px;
			}*/
			}	

		.main_span{
			padding-right: 15px;

			

			

			/*@media(max-width:400px){
				svg{
					height: 8px;
					width: 8px;
				}
			}*/
		}
		.s_text{
				color: red;
			}
	}





	.hotline_heading{
		font-size: 24px;
		line-height: 32px;
		padding-top: 21px;
	}


	.hotline_option{
		ul {
  				list-style: none;
  				padding: 0;
  				padding-top: 20px;
			}

		.hotline_list1{
				font-size: 18px;
				line-height: 30px;
				text-align: left;
				color: rgba(0, 0, 0, 0.87);

			/*@media(max-width:400px){
				font-size: 14px;
				line-height: 24px;
				padding-top: 15px;
			}*/
			}
			
		.hotline_list2{
				padding-top: 16px;
				font-size: 18px;
				line-height: 30px;
				text-align: left;
				color: rgba(0, 0, 0, 0.87);

			/*@media(max-width:400px){
				font-size: 14px;
				line-height: 24px;
				padding-top: 15px;
			}*/
			}

		.main_span{
			padding-right: 15px;
		}
		.s_text{
				color: red;
			}
			
	}


	.traffic_plan{
			padding-top: 26px;
			.custom_table{
			border-top: hidden;
    		border-bottom: 1px solid #e7e7e7;
    		margin: 0px;

    		th{
    			font-size: 18px;
    			line-height: 28px;
    			color: rgba(0, 0, 0, 0.87);
    			border-bottom: 1px solid #000000;
    		}

    		td{
    			font-size: 18px;
    			line-height: 30px;
    			color: rgba(0, 0, 0, 0.87);
    		}
		}

		}



		.IVR_heading{
			font-size: 24px;
			line-height: 32px;
			padding-top: 30px;
		}

		.ending_text{
			padding-top: 20px;
			p{
				font-size: 18px;
				line-height: 30px;
				color: rgba(0, 0, 0, 0.87);
			}
		}



	}

	@media(max-width:570px){
		.contact_details{
			padding-left: 15px;
			.traffic_plan{
				.custom_table{
					width: 400px;
				}
			}

		}
		
	}



}






/*-------------------------------Star Rating Css-----------------*/


.rating_option{
	.custom_dialog{
		max-width: 330px;
			.custom_content{
				.custom_header{
					display: flex;
    				align-items: flex-start;
    				justify-content: space-between;
						.custom_title{
							margin: 0 auto;
							font-size: 20px;
							line-height: 28px;
							padding-top: 40px;
    						padding-left: 25px;
						}

						.close{
							padding-right: 21px;
    						padding-top: 21px;
						}
				}

				.custom_body{
					display: block;
					margin: 0 auto;
					padding: 0px 40px;
					.rating {
      					float:left;
      					border-bottom: 1px solid #e7e7e7;
      					.rate_text{
      						text-align: center;
      						font-size: 14px;
      						line-height: 24px;
      						color: rgba(0, 0, 0, 0.54);
      						padding-bottom: 14px;
      					}
    				}

  
    			.rating:not(:checked) > input {
        			position:absolute;
        			top:-9999px;
        			clip:rect(0,0,0,0);
    			}

    			.rating:not(:checked) > label {
        			float:right;
        			width:1em;
        			/* padding:0 .1em; */
        			overflow:hidden;
        			white-space:nowrap;
        			cursor:pointer;
        			font-size:210%;
       			 	/* line-height:1.2; */
        			color:#ddd;
    			}

    			.rating:not(:checked) > label:before {
        			content: '★ ';
    			}

    			.rating > input:checked ~ label {
        			color: #F9A13C;
        
    			}

    			.rating:not(:checked) > label:hover,
    			.rating:not(:checked) > label:hover ~ label {
        			color: #F9A13C;
        
    			}

    			.rating > input:checked + label:hover,
    			.rating > input:checked + label:hover ~ label,
    			.rating > input:checked ~ label:hover,
    			.rating > input:checked ~ label:hover ~ label,
    			.rating > label:hover ~ input:checked ~ label {
        			color: #F9A13C;
        
    			}

    			.rating > label:active {
        			position:relative;
        			top:2px;
        			left:2px;
    			}
				}




				.custom_footer{
					display: flex;
    				align-items: center;
    				justify-content: center;

    				.custom_button{

    				}
				}	
			

			}


		

	}
}





/*-------------------4G Page CSS Start---------------*/
h1,h2,h3,h4,h5,h6,p,ul,li{
    margin: 0px;
}

.container-fluid{
	padding: 0px;
}
.page_content_4g{
    display: block;
    margin: 0 auto;
  .check_4g{
        h1{
            text-align: center;
        }

        .custom-form-group{
        	.custom-input-group{
        		margin: 0 auto;
        		padding-top: 30px;
        		padding-left: 47px;
    			padding-right: 49px;
        		input{
        			background-color: rgba(0, 0, 0, 0.05);
        		}
        	}

       		.enable_button{
				padding-top: 15px;
				padding-bottom: 80px;
					.button_custom{
						background-color: #ED1C24;
						text-align: center;
						color: #ffffff;
						padding-top: 9px;
    					padding-bottom: 10px;
						width: 79%;
						border: hidden;
						font-size: 18px;
						line-height: 22px;
					}
			}

       	}
  }

}



/*------------------offer section-----------*/

.offer-section{
	background-color: #e7e7e7;


	.offer-heading{
		text-align: center;
		h1{
			font-size: 30px;
			line-height: 38px;
			padding-top: 60px;
		}
	}


	.offer-option{
	.special-recharge{
  background-color: #FFF;
  padding: 30px;
  height: 267px;
  &__title{
    margin-bottom: 10px; 
    h3{
      font-size: 24px;
      line-height: 32px;
      color: #000000;
    }    
  }
  &__dayprice{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__dayprice-left{
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.6);
  }
  &__dayprice-right{
    font-size: 20px;
    line-height: 30px;
    color: rgba(15, 15, 15, 0.87);
    font-weight: 500;
  }
  &__button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
     text-align: center;
     width: 100%;
     padding: 8px;
     border-radius: 5px;
     font-size: 16px;
     line-height: 19px;
     display: inline-block;
     vertical-align: middle; 
    }
    .btn__primary{
      margin-right: 10px;
      background-color: #ED1C24;
      color: #FFF;
      border: 1px solid transparent;
      font-weight: 500;      
      &:hover{
        text-decoration: none;
        color: #FFF;
      }
    }
    .btn__secondary{
      border: 1px solid rgba(0, 0, 0, 0.38);
      margin-left: 10px;
      color: rgba(0, 0, 0, 0.54);
      font-weight: 500;
      &:hover{
        text-decoration: none;
      }
    }
  }
}

}



.s-icon-list{
	padding-top: 25px;
	padding-bottom: 25px;
	.d-top-text{
		span{
			display: inline-block;
    		color: rgba(0, 0, 0, 0.87);
    		font-size: 16px;

    			ul{

    				padding-left: 10px;
    				padding-right: 10px;

    				.list-inline-item:not(:last-child) {
    					margin-right: .5rem;
    					padding-right: 10px;
					}

					svg{
						width: 25px;
    					height: 25px;
    					overflow: hidden;
    					vertical-align: middle;
					}
    			}
    		}
		}
	}

	.offer-view-button{
		margin: 0 auto;
		padding-top: 40px;
		padding-bottom: 60px;
		.custom-offer-view-button{
			width: 202px;
			border-color: #ED1C24;
			color: #ED1C24;
		}

		.custom-offer-view-button:hover{
			background-color: transparent;
		}
	}


}

/*------------------offer section end-----------*/


/*------------------Best 4g section-----------*/
.best-4g-offer-section{
	.dhonnobadmember{
		background-color: #ED1C24;
    	padding-top: 42px;
    	padding-bottom: 42px;

    	.h3small{
    		    display: inline-block;
    			color: #fff;
    			font-size: 20px;
    			line-height: 30px;
    	}

    	span{
    		    margin-left: 45px;
    			display: inline-block;
    			position: relative;
    			top: -3px;
    	}

    	.button-section-1{
    		    background-color: #fff;
    			color: #ED1C24;
    			font-size: 18px;
    			/* line-height: 32px; */
    			display: inline-block;
    			font-weight: bold;
   				padding: 7px 54px;
    			border-radius: 4px;
    	}
	}
}
/*------------------Best 4g section End-----------*/


/*-----------<!--Robi 4g offer Css start-->--------*/
.robi-4g-offer-section{
	background-color: #f8f8f8;
	.robi-4g-offer-section-header{
		text-align: center;
		padding-top: 60px;
		h1{
			font-size: 30px;
			line-height: 38px;
		}
	}

	.robi-4g-offer-section-benifits{
		padding-top: 47px;
		.robi-4g-offer-section-item-all{
			    text-align: center;
    			padding: 20px;
    			padding-top: 0;
    			padding-bottom: 0;

    			img{
    				display: block;
    				margin: 0 auto;
    				width: 61px;
    				height: 50px;
    			}

    			h4{
    				padding-top: 29px;
    				color: rgba(0, 0, 0, 0.87);
    				font-size: 20px;
    				line-height: 28px;
    			}

    			h6{
    				font-size: 16px;
    				line-height: 26px;
    				font-weight: 300;
    				padding-bottom: 20px;
    				padding-top: 15px;
    			}
		}
	}


	 @media(max-width:400px){
	 	.robi-4g-offer-section-header{
			text-align: center;
			padding-top: 40px;
			h1{
				font-size: 24px;
				line-height: 38px;
			}
		}


		.robi-4g-offer-section-benifits{
			padding-top: 27px;
			.robi-4g-offer-section-item-all{
			    text-align: center;
    			padding: 20px;
    			padding-top: 0;
    			padding-bottom: 0;

    			img{
    				display: block;
    				margin: 0 auto;
    				width: 49px;
    				height: 41px;
    			}

    			h4{
    				padding-top: 22px;
    				color: rgba(0, 0, 0, 0.87);
    				font-size: 20px;
    				line-height: 28px;
    			}

    			h6{
    				font-size: 16px;
    				line-height: 26px;
    				font-weight: 300;
    				padding-bottom: 26px;
    				padding-top: 10px;
    			}
			}
		}
	 }
}
/*-----------<!--Robi 4g offer Css end-->--------*/






/*-------------------4G Page CSS End---------------*/



/*--------------- SIde Nav Css STart-----------*/
.robi-sidenav-section{
.vertical-menu {
    width: 215px;
    height: 325px;
    overflow-y: auto;

    a {
    
    color: black;
    display: block;
    padding-left: 12px;
    padding-right: 12px;
    text-decoration: none;
    font-size: 18px;
	line-height: 30px;
	}

	a:not(:first-child) {
    padding-top: 20px;
}

	/*h4{
		font-size: 18px;
		line-height: 30px;
	}*/

}

/*.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}
*/
::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background: #d01717;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.vertical-menu a.active {
  color: red;
}


}
/*--------------- SIde Nav Css End-----------*/




/*----------------Customer Serviece Get in touch Css start--------------*/
.robi-get-touch-section{
	background-color: #f8f8f8;

	.robi-get-touch-section-header{
		h1{
			text-align: center;
			font-size: 30px;
			line-height: 38px;
			color: rgba(0, 0, 0, 0.87);
			padding-top: 80px;
		}
	}


	.robi-get-touch-section-options{
		padding-top: 60px;
		padding-bottom: 60px;

		.media-body{
			padding-left: 25px;
			
			h4{
				font-size: 20px;
				line-height: 32px;
				text-align: left;
				color: rgba(0, 0, 0, 0.87);
				padding-bottom: 5px;
			}

			p{
				font-size: 16px;
				line-height: 26px;
				text-align: left;
				color: rgba(0, 0, 0, 0.87);
			}
		}
	}


	@media(max-width:420px){
		.robi-get-touch-section-header{
			h1{
				font-size: 24px;
				line-height: 38px;
				padding-top: 30px;
			}
		}
		
		
		.robi-get-touch-section-options{
			padding-top: 10px;
			padding-bottom: 30px;
			padding-left: 45px;
			

			.robi-get-touch-section-item-all-s{
				border-bottom: 1px solid rgba(0, 0, 0, 0.08);
			}
			
			.media{
				padding-top: 20px;
				img{
					width: 42px;
					height: 42px;
				}
			}
			.media-body{
				padding-left: 25px;
				padding-bottom: 20px;
				h4{
					font-size: 18px;
					line-height: 28px;
					text-align: left;
					color: rgba(0, 0, 0, 0.87);
					padding-bottom: 10px;
				}
	
				p{
					font-size: 14px;
					line-height: 24px;
					text-align: left;
					color: rgba(0, 0, 0, 0.87);
				}
			}
		}
	}
}
/*----------------Customer Serviece Get in touch Css start--------------*/







/*-----------------Location Selector Css Start----------------------*/
.location-option-section{
	.custom_dialog{
		width: 365px;
			.custom_content{
				.custom_header{
					display: flex;
    				align-items: flex-start;
    				justify-content: space-between;
						.custom_title{
							font-size: 18px;
							line-height: 28px;
							padding-top: 40px;
    						padding-left: 25px;
						}

						.close{
							padding-right: 21px;
    						padding-top: 21px;
						}
				}


				.custom_body{
					.location-option-locator{
						padding-top: 21px;
						.custom-view{
							padding-left: 40px;
						}
						.custom-description{
							padding-left: 12px;
							p{
								color: rgba(1, 1, 1, 0.54);
								font-size: 14px;
								line-height: 24px;
								text-align: left;
							}
						}
					}

					.location-option-phone{
						padding-top: 20px;
						.custom-view{
							padding-left: 40px;
						}
						.custom-description{
							padding-left: 12px;
							p{
								color: rgba(1, 1, 1, 0.54);
								font-size: 14px;
								line-height: 24px;
								text-align: left;
							}
						}
					}


					.location-option-time{
						padding-top: 20px;
						.custom-view{
							padding-left: 40px;
						}
						.custom-description{
							padding-left: 12px;
							p{
								color: rgba(1, 1, 1, 0.54);
								font-size: 14px;
								line-height: 24px;
								text-align: left;
							}
						}
					}
				}

				



				.custom_footer{
					h5{
						font-size: 14px;
						line-height: 16px;
						text-align: left;
						color: #E20001;
						padding-left: 25px;
    					padding-top: 20px;
    					padding-bottom: 25px;
					}
				}	
			

			}


		

	}


	@media(max-width:575px){
		.custom_dialog{
			width: auto;
		}
	}
}
/*-----------------Location Selector Css End----------------------*/



/*------------------Store Location Css Start-----------------*/


.store-location-section{
	.store-location-section-list{
		background-color: rgba(0, 0, 0, 0.08);
		h4{
			font-size: 18px;
			line-height: 28px;
			padding-left: 18px;
    		padding-top: 30px;
		}
		.vertical-menu{
			width: 355px;
    		height: 430px;
    		overflow-y: auto;
    		ul{
    			a{
    				text-decoration: none;
    				margin-right: 10px;
    			}
    		}
			.custom-list-group-item{
				margin-top: 10px;
			}
			.store-locatore-option{
				padding-top: 2px;
				h5{
					font-size: 14px;
					line-height: 18px;
					color: rgba(0, 0, 0, 0.87);
				}

				.store-locatore-option-details{
					    padding-top: 8px;
    					padding-bottom: 12px;
					.custom-view{
							padding-left: 12px;
						}
					.custom-description{
							padding-left: 12px;
							p{
								color: rgba(1, 1, 1, 0.54);
								font-size: 12px;
								line-height: 18px;
								text-align: left;
								margin-right: 12px;
								padding-top: 2px;
							}
						}
				}

			}


		}

		
	}

::-webkit-scrollbar {
    width: 5px;

}

::-webkit-scrollbar-thumb {
    background: #d1d1d1;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background: #E8E8E8; 
}

@media(max-width:600px){
		.store-location-section-list{
		background-color: transparent;
		}
}
}

/*------------------Store Location Css End-----------------*/	


/*----------------New Prepaid Page Order Robi sim today Css Start------------------------*/
.order-robi-sim-section{
	background-color: #F8F8F8;
		.order-robi-sim-header{
			margin: 0 auto;
				h1{
					font-size: 24px;
					line-height: 32px;
					color: rgba(0, 0, 0, 0.87);
					text-align: center;
					padding-top: 60px;
    				padding-bottom: 30px;
				}
		}
}

/*----------------New Prepaid Page Order Robi sim today Css End------------------------*/


/*-----------------Chat Box Css Start----------------------*/
.chat-option-section{
	.chat-custom-dialog{
		width: 320px;
			.chat-custom-content{
				nav{
					    padding: 0px;
				}
				ul{
					text-align: center;
					.custom-list-active{
						    /*border: 1px solid #F9F9FA;*/
    						font-size: 14px;
    						// line-height: 28px;
    						a{
    							text-decoration: none;
    							color:#ED1C24;
								font-weight: 650;
								padding-top: 25px;
    							padding-bottom: 20px;
    							padding-left: 50px;
								padding-right: 50px;
								display: block;
    						}
					}
					.custom-list{
						    /*border: 1px solid #F9F9FA;*/
    						
    						background-color: #F9F9FA;
    						font-size: 14px;
    						// line-height: 28px;
    						a{
    							text-decoration: none;
    							color:rgba(0, 0, 0, 0.54);
								font-weight: 650;
								padding-top: 25px;
    							padding-bottom: 20px;
    							padding-left: 50px;
								padding-right: 35px;
								display: block;
    						}
					}
    				
    			}
				.custom_header{
    				align-items: flex-start;
    				justify-content: space-between;
    				text-align: center;
						.custom_title{
							font-size: 16px;
							line-height: 26px;
							padding-top: 30px;
							padding-bottom: 10px;
    						
						}

						p{
							color: rgba(0, 0, 0, 0.54);
						}

				}
			}


		

	}


	@media(max-width:575px){
		.chat-custom-dialog{
			ul{
				    flex-direction: row;
			}
		}
	}
}
/*-----------------Chat Box Css End----------------------*/




/*-------------Robi Search Result Section Css Start------------*/
.Robi-Search-section{
  .Robi-Search-section-relusts{

     .main {
    padding-top: 30px;
   /* padding-bottom: 85px;*/
    padding-left: 0px;
    padding-right: 0px;
    
    .search-result-text{
        padding-top: 40px;
        padding-bottom: 17px;
      p{
        font-size: 18px;
        line-height: 30px;
        .search-text{
          color: #ED1C24;
        }
      }
    }
}



/* Bootstrap 4 text input with search icon */
.custom_form_control{
  height: 45px;
}

.has-search{
  input{
          border: hidden;
          border-radius: 5px;
    }
}

.has-search .form-control {
    padding-left: 2.375rem;
    background-color:rgba(0, 0, 0, 0.05);
}

.has-search .form-control-feedback {
    position: absolute;
    
    display: block;
 
   
    line-height: 40px;
    
    pointer-events: none;
    padding-left:7px;
   
}



.icon2{
  height:13px;
  width:13px;
  color:#000000;
  padding-left:3px;
  margin-left:520px
}

.icon1{
  height:20px;
  width:20px;
  color:#000000;
  padding-left:3px
}

.media-body{
  .top_header{
    font-size: 14px;
    line-height: 16px;
    opacity: 60%;
    padding-top: 30px;
    color: rgba(0, 0, 0, 0.54);

  }
}


	 
.main_header{
    font-size: 24px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.87);
    padding-top: 15px;
    a{
		text-decoration: none;
		color: rgba(0, 0, 0, 0.87);
    }
}


.price_tag{
  padding-top: 15px;
  font-size: 18px;
  line-height: 30px;
  strike{
    font-size: 16px;
    line-height: 24px;
  }
}

.media-top{
  border-top: 1px solid #E5E5E5; 
}

/*img{
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 29px;
}*/

.custom_s8_img{
    padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 29px;
}

.custom_note_img{
   padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 29px;
}

.custom_internet_img{
 padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 29px; 
}

.custom_talktime_img{
   padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 29px;
}

h6{
  padding-top: 12px;
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 24px;
}

.text_validity{
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.54);
    padding-top: 13px;
    padding-bottom: 27px;
}


	
.main_header_text{
  font-size: 24px;
  line-height: 32px;
  padding-top: 30px;
  a{
  	text-decoration: none;
	color: rgba(0, 0, 0, 0.87);
  }
}

.text_description{
  font-size: 16px;
  line-height: 26px;
  padding-top: 15px;
  padding-bottom: 30px;
  color: rgba(0, 0, 0, 0.6);
}



.bottom{
  padding-bottom: 40px;
}

.bottom_end_button{
  margin-top: 40px;
}

.btn__secondary{
      font-size: 18px;
      line-height: 21px;
      border: 1px solid red;
      border-radius: 5px;
      color: red;
      font-weight: 500;
      padding: 10px;
      padding-left: 30px;
      padding-right: 30px;
      &:hover{
        text-decoration: none;
      }
    }

.special-recharge__button{
  padding-bottom: 40px;
  text-align: center;
}    

.media{
  border-bottom: 1px solid #E5E5E5;
}

@media(max-width:450px){
  .media-body{
  .top_header{
    padding-top: 20px;
  }
}

  .main_header{
    font-size: 18px;
    line-height: 28px;
    padding-top: 10px;
   
  
}

h6{
  padding-top: 10px;
  padding-bottom: 20px;
}

.text_validity{
    font-size: 14px;
    line-height: 16px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.main_header_text{
  font-size: 18px;
  line-height: 28px;
  padding-top: 20px;
}

.text_description{
  font-size: 16px;
  line-height: 26px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.custom_s8_img{
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 93px;
  width: 80px;
 
}

.custom_note_img{
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 60px;
  width: 80px;

}

.custom_internet_img {
    padding-right: 17px;
    padding-top: 20px;
    padding-bottom: 58px;
    width: 100px;
}
.custom_talktime_img {
    padding-right: 17px;
    padding-top: 20px;
    padding-bottom: 58px;
    width: 100px;
}
.special-recharge__button{
  padding-bottom: 41px;
}

.price_tag{
  padding-top: 10px;
  padding-bottom: 20px;
}



}
  }

 

}


/*-------------Robi Search Result Section Css End------------*/


/*------------Search Result Fail Css start-----------*/
.Robi-Search-section-fail{
  .Robi-Search-section-relusts-fail{

     .main {
    padding-top: 30px;
   /* padding-bottom: 85px;*/
    padding-left: 0px;
    padding-right: 0px;
    
    .search-result-text{
        padding-top: 40px;
        padding-bottom: 17px;
      p{
        font-size: 18px;
        line-height: 30px;
        .search-text{
          color: #ED1C24;
        }
      }
    }
}


.search-main-header{
  h4{
    font-size: 20px;
    line-height: 28px;
    padding-top: 40px;
  }
}
/* Bootstrap 4 text input with search icon */
.custom_form_control{
  height: 45px;
}

.has-search{
  input{
          border: hidden;
          border-radius: 5px;
    }
}

.has-search .form-control {
    padding-left: 2.375rem;
    background-color:rgba(0, 0, 0, 0.05);
}

.has-search .form-control-feedback {
    position: absolute;
    
    display: block;
 
   
    line-height: 40px;
    
    pointer-events: none;
    padding-left:7px;
   
}



.icon2{
  height:13px;
  width:13px;
  color:#000000;
  padding-left:3px;
  margin-left:520px
}

.icon1{
  height:20px;
  width:20px;
  color:#000000;
  padding-left:3px
}

.media-body{
  /*.gift_description{
    font-size: 18px;
    line-height: 30px;
    opacity: 60%;
    padding-top: 20px;
    color: rgba(0, 0, 0, 0.87);

  }*/

  .suggested_description{
    font-size: 18px;
    line-height: 30px;
    opacity: 60%;
    color: rgba(0, 0, 0, 0.87);
	padding-left: 15px;
  }
}


.media-suggestion{
	padding-top: 20px;
}

/*.custom_gift_img{
    padding-right: 16px;
  padding-top: 20px;
  padding-bottom: 29px;
}*/



/*.custom_internet_img{
 padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 29px; 
}*/



  }

 

}

/*------------Search Result Fail Css fail-----------*/


/*------------My plan Css Start-------------*/
.myplan-section{
	.myplan-saving{
		border-bottom: 1px solid rgba(0, 0, 0, 0.08);
		padding-bottom: 15px;
		.text-start{
			font-size: 16px;
			line-height: 32px;
			color: rgba(0, 0, 0, 0.6);
			span{
				font-weight: 700;
				font-size: 24px;
				line-height: 32px;
				color: #ED1C24;
				padding-right: 10px;
			}
		}

		h2{
			font-size: 30px;
			line-height: 38px;
			padding-top: 10px;
			padding-bottom: 15px;
		}

		p{
			font-size: 14px;
			line-height: 24px;
			color: rgba(0, 0, 0, 0.87);
		}
		
	}

	.mayplan-mins{
		border-bottom: 1px solid rgba(0, 0, 0, 0.08);
		// padding-bottom: 15px;
		.list-item-one{
			display: inline-block;
			color: #ED1C24;
			padding-left: 16px;
			padding-top: 15px;
			span{
				color: #000000;
				font-size: 16px;
				line-height: 19px;
				// padding-right: 14px;
			}
			li{
				padding-bottom: 15px;
				float: left;
				width: 50%;
			}
		}
		// .list-item-two{
		// 	display: flex;
		// 	color: #ED1C24;
		// 	padding-left: 16px;
		// 	padding-top: 15px;
		// 	span{
		// 		color: #000000;
		// 		padding-right: 14px;
		// 	}
		// 	li{
		// 		padding-right: 14px;
		// 	}
		// }
	}

	.myplan-choice{
		h4{
			font-size: 20px;
			line-height: 28px;
			padding-top: 30px;
		}
	}
}
/*------------My plan Css End-------------*/


/*---------- Robi My Offer Scss Start------*/
.robi-myoffer-section{
	.custom-fluid{
		height: calc(100% - 121px);
		padding-right: 15px;
		padding-left: 15px;
	
	.hide-desktop {
		display: none;
	}

	.image-wrap {
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50%;
		background-color: #f9f9f9;
	}
		.flex-group-section{
			justify-content: start;
    		padding-left: 60px;
			height: 83vh;
			display: flex;
			align-items: center;
			.flex-body{
				width: 450px;
    			display: block;
    			border: 1px solid rgba(0,0,0,.08);
    			box-shadow: 1px 2px 3px rgba(0,0,0,.04);
    			padding: 40px;
    			padding-top: 30px;
				border-radius: 5px;
				
				h2{
					text-align: left;
					margin: 0;
					line-height: 38px;
					color: #000;
					margin-bottom: 20px;
				}
				p{
					font-size: 16px;
					color: rgba(0,0,0,.87);
					margin-top: 0;
					margin-bottom: 1rem;
				}
				.input-group{
					margin-bottom: 15px;
					.input-group-prepend {
						margin-right: -1px;
					}
				}

				.btn-custom {
					background-color: #ed1c24;
					font-size: 18px;
					line-height: 21px;
					text-align: center;
					font-weight: 700;
					border-radius: 5px;
					display: block;
					width: 100%;
					text-transform: capitalize;
					outline: none;
					border: none;
					padding: 12px;
					color: #fff;
				}
			}
		}
	}

	@media(max-width:420px){
		.custom-fluid{
			.hide-mobile {
				display: none;
			}
			.hide-desktop {
				display: block;
			}
			.image-wrap {
				height: 280px;
				background-position: center 20%;
			}

			.flex-group-section {
				padding-bottom: 50px;
				height: auto;
				padding-left: 0;
				display: flex;
				justify-content: center;
				.flex-body{
					width: 90%;
					border: none;
					box-shadow: none;
					padding: 0px;

					h2{
						text-align: center;
						padding-bottom: 10px;
						font-size: 20px;
						padding-top: 20px;
						margin-bottom: 0;
					}

					p{
						font-size: 14px;
						color: rgba(0,0,0,.87);
						text-align: center;
					}
					
				}
			}
		}
	}
}
/*---------- Robi My Offer Scss End------*/


/*-----------Ghachang Offer css start-------*/
.ghachang-section{
	.top-log{
		    display: block;
    		margin: 0 auto;
	}

	h1{
		font-size: 30px;
		line-height: 38px;
		text-align: center;
		color: rgba(0, 0, 0, 0.87);
		padding-top: 30px;
	}
	.ghachang-text{
		text-align: center;
		font-size: 20px;
    	line-height: 28px;
    	color: rgba(0, 0, 0, 0.87);
    	padding-top: 20px;
		span{
			font-size: 18px;
    		line-height: 30px;
    		color: rgba(0, 0, 0, 0.54);
    		padding-right: 10px;
		}
		.pen-edit{
			margin-left: 13px;
		}
	}

	@media(max-width:600px){
	h1{
		font-size: 24px;
		line-height: 38px;
		text-align: center;
		color: rgba(0, 0, 0, 0.87);
		padding-top: 30px;
	}
	.ghachang-text{
		text-align: center;
		font-size: 18px;
    	line-height: 28px;
    	color: rgba(0, 0, 0, 0.87);
    	padding-top: 20px;
		span{
			font-size: 14px;
    		line-height: 24px;
    		color: rgba(0, 0, 0, 0.54);
    		padding-right: 10px;
		}
		.pen-edit{
			margin-left: 12px;
			height: 17px;
			width: 17px;
		}
	}
	}
}
/*-----------Ghachang Offer css End-------*/